<div class="map-container">
  <div align="center" style="z-index: 1000; margin: 25px;">
    <button type="button" class="btn btn-success btn-round" (click)="play()">Play</button>
    <button type="button" class="btn btn-warning btn-round" (click)="pause()">Pause</button>
    <button type="button" class="btn btn-danger btn-round" (click)="stopPlayback(); clearMap()">Stop</button>
  </div>
  <div class="map-frame">
    <div id="map-p"></div>
  </div>
</div>